.sd-container {
  /* background-color: yellowgreen; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #08aeea;
  background-image: linear-gradient(0deg, #08aeea 0%, #2af598 100%);
}
.sd-check-icon-container {
  /* background-color: gold; */
  height: 220px;
  width: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.sd-check-icon-container img {
  width: 300px;
}
.sd-text-container {
  /* background-color: yellowgreen; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sd-text-container .sd-header {
  text-align: center;
  font-family: "Kanit";
  font-weight: 700;
  color: white;
}
.sd-text-container .sd-paragraph {
  font-family: "Kanit";
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  /* background-color: green; */
  width: 700px;
  color: white;
}
.go-to-info {
  width: 200px;
  margin-top: 30px;
}

.go-to-info .sd-submit {
  font-family: "Kanit";
  font-weight: 500;
  font-size: 20px;
  border: none;
  border-radius: 15px;
  background-color: #3c91e6;
  color: white;
  width: 200px;
  cursor: pointer;
  height: 60px;
  transition: 0.3s;
}
.go-to-info .sd-submit:hover {
  background-color: #0753a0;
}
