.spp-container {
  background-color: #d9d9d9;
}

.spp-left-right-container {
  min-height: 100vh;
  display: flex;
}
.left {
  width: 25%;
  padding: 20px;
}
.left h1 {
  font-family: "Kanit";
  margin-bottom: 30px;
  font-size: 25px;
}
.left .boxes {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 10px;
  border-radius: 6px;
}
.left .boxes .box {
  display: flex;

  margin-bottom: 30px;
}
.left .boxes .box h1 {
  font-size: 20px;
  width: 70%;
  font-weight: 700;
  font-family: "Kanit";
}
.left .boxes .box input {
  height: 35px;
  border-radius: 10px;
  transform: translateY(5px);
  font-family: "Kanit";
}

.left .boxes input[type="submit"] {
  background-color: #3c91e6;
  color: white;
  margin: auto;
  display: block;
  font-family: "Kanit";
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}
.left .boxes input[type="submit"]:hover {
  background-color: #0753a0;
}
.right {
  width: 75%;
  padding: 20px;
}
.right .spp-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  height: 80vh;
  padding: 40px;
  gap: 30px;
}
