.ch-container {
  background-color: #d9d9d9;

  min-height: 150vh;
}

.ch-black-bg {
  height: 107px;
  width: 100%;
  background-color: black;
  display: flex;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
  background-color: #08aeea;
  background-image: linear-gradient(0deg, #08aeea 0%, #2af598 100%);
}
.ch-black-bg .ch-logo {
  font-size: 50px;
  cursor: pointer;
  color: white;
}
.ch-img-logout {
  /* background-color: purple; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 150px;
}
.ch-accountCircle {
  color: white;
  font-size: 40px !important;
  cursor: pointer;
}
.ch-logout {
  background-color: white;
  border: none;
  padding: 10px 30px;
  font-family: "Kanit";
  border-radius: 10px;
  cursor: pointer;
}
.ch-img-newintern-container {
  /* background-color: yellow; */
  margin-top: 20px;
  height: 50vh;
  width: 100%;
  display: flex;
}
.ch-img-newintern-container .ch-img {
  /* background-color: purple; */
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ch-img-newintern-container .ch-img img {
  width: 500px;
}
.ch-img-newintern-container .ch-text {
  /* background-color: red; */
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  /* align-content: space-between; */
}
.ch-img-newintern-container .ch-text h1 {
}
.ch-img-newintern-container .ch-text .input {
  margin-top: 30px;
  color: white;
  font-family: "Kanit";
  font-weight: 500;
  border-radius: 15px;
  font-size: 13px;
  padding: 10px 15px;
  /* color: green;
  margin-top: 30px;

  position: absolute;
  right: 100px;
  bottom: 100px;
  border: none;
  background-color: #3c91e6;
  color: white !important;
  width: 120px;
  cursor: pointer;
  height: 40px; */
}

.ch-posts-section-container {
  /* background-color: greenyellow; */
  margin-top: 20px;
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.ch-posts-section-container h1 {
  margin-left: 40px;
  margin-bottom: 20px;
}

.ch-posts-container {
  /* background-color: purple; */
  padding: 0 50px;
  display: grid;
  /* grid-template-columns: repeat(4, 350px); */
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  /* gap: 10px; */
}
