.ch-container {
  background-color: #d9d9d9;
  min-height: 100vh;
}

.ch-img-newintern-container {
  margin-top: 20px;
  height: 50vh;
  width: 100%;
  display: flex;
}
.ch-img-newintern-container .ch-img {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ch-img-newintern-container .ch-img img {
  width: 500px;
}
.ch-img-newintern-container .ch-text {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.ch-img-newintern-container .ch-text h1 {
}
.ch-img-newintern-container .ch-text .input {
  margin-top: 30px;
  color: white;
  font-family: "Kanit";
  font-weight: 500;
  border-radius: 15px;
  font-size: 13px;
  padding: 10px 15px;
}

.ch-posts-section-container {
  margin-top: 20px;
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.ch-posts-container {
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 40px;
}
