.st-container {
  background-color: #d9d9d9;

  min-height: 195vh;
}

.st-img-newintern-container {
  /* background-color: yellow; */
  margin-top: 20px;
  height: 50vh;
  width: 100%;
  display: flex;
}
.st-img-newintern-container .st-img {
  /* background-color: purple; */
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.st-img-newintern-container .st-img img {
  width: 400px;
}
.st-img-newintern-container .st-text {
  /* background-color: red; */
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  /* align-content: space-between; */
}
.st-img-newintern-container .st-text h1 {
  font-family: "Kanit";
  font-size: 50px;
}
.st-img-newintern-container .st-text span {
  font-family: "Kanit";
  font-size: 23px;
  font-weight: 200;
}

.st-posts-section-container {
  /* background-color: greenyellow; */
  margin-top: 20px;
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.st-applications-container,
.st-apply-container {
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 30px;
}
.st-seeall {
  /* background-color: green; */
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.st-seeall button {
  background-color: rgb(60, 145, 230);
  color: white;
  border-radius: 10px;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}
