.sp-container {
  background-color: #d9d9d9;
  width: 100%;
  min-height: 100vh;
}
.sp-container .sp-white-bg {
  /* background-color: purple; */
  height: 107px;
  width: 100%;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  position: relative;
}

.sp-white-bg .sp-name-and-major {
  /* background-color: greenyellow; */
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sp-name-and-major .sp-name {
  font-family: "Kanit";
  font-weight: 400;
}
.sp-name-and-major .sp-major {
  font-family: "Kanit";
  font-weight: 400;
  font-size: 20px;
}
.sp-white-bg .sp-editprofile {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.sp-white-bg .sp-editprofile .input {
  border: none;
  color: white;
  background-color: #3c91e6;
  font-family: "Kanit";
  border-radius: 15px;
  padding: 10px 15px;
  cursor: pointer;
  transition: 0.3s;
}
.sp-white-bg .sp-editprofile .input:hover {
  background-color: #0753a0;
}
.sp-container .sp-info-content {
  display: flex;
  justify-content: space-around;
  font-family: "Kanit";
}
/* left info */

.sp-info-content .sp-left-info {
  /* background-color: red; */
  width: 100%;
  padding: 20px;
}
.sp-info-content .sp-left-info h1 {
  font-family: "Kanit";
  margin-bottom: 20px;
}
.sp-info-content .sp-left-info p {
  font-family: "Kanit";
  width: 80%;
}
hr {
  background-color: #9d9d9d;
  height: 1px;
  margin: 10px 0;
  width: 80%;
}
.sp-info-content .sp-left-info .sp-education {
  /* background-color: aqua; */
}
.sp-education {
  margin-bottom: 20px;
}
.sp-education h1 {
  margin-top: 10px;
  margin-bottom: 0;
}
.sp-education h3 {
  font-size: 1.5rem;
  margin-bottom: -5px;
}

.sp-education .sp-from,
.sp-education .sp-to {
  color: #838383;
}
.sp-education .sp-gpa {
  font-size: 20px;
}

/* \\\left info\\\ */

/* right info */
.sp-info-content .sp-right-info {
  width: 100%;
  padding: 20px;
  /* background-color: yellowgreen; */
}
.sp-info-content .sp-right-info .sp-information {
  font-family: "Kanit";
  margin-bottom: 20px;
}
.sp-info-content .sp-right-info .sp-information h1 {
  margin-top: 10px;
  margin-bottom: 0;
}
.sp-right-info .sp-information {
}
.sp-right-info .sp-information .sp-email {
}
.sp-right-info .sp-information .sp-email span {
  display: block;
  margin-bottom: 15px;
  color: #4470c7;
}
.sp-right-info .sp-information .sp-location {
  /* background-color: yellow; */
}
.sp-right-info .sp-information .sp-location span {
  display: block;
  margin-bottom: 15px;
  color: #4470c7;
}
.sp-right-info .sp-information .sp-phone {
  /* background-color: yellow; */
}
.sp-right-info .sp-information .sp-phone span {
  display: block;
  margin-bottom: 15px;
  color: #4470c7;
}
.sp-right-info .sp-information .sp-resume {
  /* background-color: yellow; */
}
.sp-right-info .sp-information .sp-resume span {
  display: block;
  margin-bottom: 15px;
  color: #4470c7;
}
.sp-right-info .sp-skills {
  max-width: 400px;
}
.sp-right-info .sp-skills .skills {
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 15px;
}
.sp-right-info .sp-skills span {
  background-color: white;
  padding: 5px 20px;
  border: 1px solid black;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 500;
  display: inline-block;
}
.sp-right-info .sp-languages {
}

.sp-right-info .sp-languages h1 {
  margin-bottom: 15px;
}
.sp-right-info .sp-languages span {
  background-color: white;
  padding: 5px 20px;
  border: 1px solid black;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 500;
  display: inline-block;
  margin-right: 20px;
}
/* \\\right info\\\ */
