input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.si-student-info-container {
  background-color: #f4f2ee;
  width: 100%;
}
.si-student-info-container .si-white-bg {
  display: flex;
  justify-content: center;
}
.si-student-info-container .si-name-and-major {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* background-color: yellow; */

  margin-top: 20px;
}

.si-student-info-container .si-name-and-major .si-name {
  font-family: "Kanit";
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 1.2px;
}
.si-student-info-container .si-name-and-major .si-major {
  font-family: "Kanit";
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1.2px;
}
.si-student-info-container .si-name-and-major .input {
  font-family: "Kanit";
}
.splitter {
  background-color: #0f0a0a;
  height: 1px;
  margin: 20px 0;
  width: 100%;
}

.si-form-container {
  /* background-color: yellow; */
  padding: 30px 50px;
  display: flex;
  justify-content: space-between;
  align-items: start;
  width: 100%;
}
.si-form-container .si-bio-container {
  width: 45%;
  display: flex;
  flex-direction: column;
  /* background-color: aqua; */
}
.si-form-container .si-bio-container .si-label {
  color: #0f0a0a;
  font-family: "Kanit";
  font-size: 40px;
}
.si-form-container .si-bio-container .si-textarea {
  resize: none;
  font-family: "Kanit";
  width: 100%;
  height: 200px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: #f4f2ee;
  padding: 10px;
  outline: none;
}
.si-bio-container .si-dropdown-container {
  /* background-color: green; */
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 150px;
  width: 100%;
}
.si-bio-container .si-dropdown-container .si-label {
  /* background-color: yellow; */
  color: #0f0a0a;
  font-family: "Kanit";
  font-size: 24px;
  font-weight: 400;
  margin-right: 5px;

  display: block;
}
.si-dropdown-container .si-list {
  width: 200px;
  /* background-color: green; */
}
.si-certificates-list {
  /* background-color: green; */
  margin-top: 15px;
  display: grid;
  grid-template-columns: repeat(3, minmax(120px, auto));
  gap: 20px;
}
.si-certificate {
  background-color: white;
  padding: 5px 20px 5px 5px;
  margin-right: 2px;
  border: 1px solid #aaa;
  border-radius: 3px;
}
.si-certificate .si-delete {
  position: relative;
}
.si-form-container .right-side {
  /* background-color: yellow; */
  display: flex;
  flex-direction: column;
  width: 45%;
}
.right-side h1 {
  font-family: "Kanit";
  font-weight: 700;
  font-size: 40px;
}
.right-side .form {
  margin: 0;
}
.right-side .form .si-input-container {
  width: 60%;
  margin-bottom: 15px;
}
.right-side .form .si-input-container .si-label {
  font-family: "Kanit";
  display: block;
}
.right-side .form .si-input-container .input {
  font-family: "Kanit";
  font-size: 13px;
}

.right-side .form .si-input-container .input-number,
.right-side .form .si-input-container .input-phone {
  font-family: "Kanit";
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  outline: none;
}
.right-side .form .si-input-container .input-number {
  display: flex;
  flex-direction: column;
  width: 50px;
}

.form .si-from-to {
  /* background-color: purple; */
  display: flex;
  /* justify-content: space-between; */

  margin-top: 20px;
  margin-bottom: 20px;
}
.form .si-from-to .si-from,
.form .si-from-to .si-to {
  width: 150px;
  margin-right: 10px;
}
.form .si-from-to .si-from label,
.form .si-from-to .si-to label {
  font-family: "Kanit";
}
.form .si-from-to .si-from input,
.form .si-from-to .si-to input {
  font-family: "Kanit";
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  outline: none;
}
.si-submit-btn {
  background-color: #3c91e6;
  border: none;
  color: white;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 10px;
  margin-top: 20px;
  transition: 0.3s;
}

.s-input-container input[type="file"] {
  display: none;
}
.s-input-container .custom-file-upload {
  font-family: "Kanit";
  background-color: #3c91e6;
  margin: 20px 0;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  color: white;
  transition: 0.3s;
  border-radius: 6px;
}
.s-input-container .custom-file-upload:hover,
.si-submit-btn:hover {
  background-color: #0753a0;
}
.s-input-container a {
  margin-left: 20px;
}
